<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a
        class="nav-link {% if request.endpoint == 'admin.dashboard' %}active{% else %}collapsed{% endif %}"
        href="{{ url_for('admin.dashboard') }}"
      >
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-heading">Manajemen</li>

    <li class="nav-item">
      <a
        class="nav-link {% if 'film' in request.endpoint %}active{% else %}collapsed{% endif %}"
        href="{{ url_for('admin.data_film') }}"
      >
        <i class="bi bi-film"></i>
        <span>Data Film</span>
      </a>
    </li>
    <!-- End Data Film Nav -->

    <li class="nav-item">
      <a
        class="nav-link {% if '_admin' in request.endpoint %}active{% else %}collapsed{% endif %}"
        href="{{ url_for('admin.data_admin') }}"
      >
        <i class="bi bi-people"></i>
        <span>Data Admin</span>
      </a>
    </li>
    <!-- End Data User Nav -->
  </ul>
</aside>
<!-- End Sidebar-->
